@{
    ViewData["Title"] = "Produtos - Início";
}

<h2>Gerenciamento de Produtos</h2>

<div>
    <a asp-controller="Produto" asp-action="Listar" class="btn btn-primary">Listar Produtos</a>
    <a asp-controller="Produto" asp-action="Cadastrar" class="btn btn-success">Cadastrar Produto</a>
</div>
