@{
    ViewData["Title"] = "Filmes - Início";
}

<h2>Gerenciamento de Filmes</h2>

<div>
    <a asp-controller="Filme" asp-action="Listar" class="btn btn-primary">Listar Filmes</a>
    <a asp-controller="Filme" asp-action="Cadastrar" class="btn btn-success">Cadastrar Filme</a>
</div>
